//Colors
$colorWhite: #fbfbfb;
$colorSpringGreen: #58fbab;
$colorDeepPink: #ff00a0;
$colorAquaMarine: #00e6fd;
$colorLightYellow: #feea52;
$colorBlack: #000000;
$colorOrange: #ff8324;

//Fonts Size
$fontNormal: 2rem;

//Font Color
.color-aquamarine {
    color: $colorAquaMarine;
}

.color-white {
    color: $colorWhite;
}

.color-light-yellow {
    color: $colorLightYellow;
}

//Icon rrss Size
@mixin iconSize {
    height: 20px;
    width: 20px;
}

//Efect hover globals
@mixin transitionHover {
    transition: all ease-in-out 0.5s;
}

//center item
@mixin centerBlock {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@mixin centerElement {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

//Media Query Responsive
.visible-desktop {
    display: block;
}

.visible-mobile {
    display: none;
}

@media (max-width: 768px) {
    .visible-desktop {
        display: none !important;
    }

    .visible-mobile {
        display: block;
    }
}

//Move elements
.animate {
    -webkit-animation: move 3s 0.1s infinite alternate
        cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation: move 3s 0.1s infinite alternate
        cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation: move 3s 0.1s infinite alternate
        cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
@keyframes move {
    0% {
        -webkit-transform: translate3d(3%, 0, 0) rotateZ(0deg);
        -moz-transform: translate3d(3%, 0, 0) rotateZ(0deg);
        transform: translate3d(3%, 0, 0) rotateZ(0deg);
    }
    100% {
        -webkit-transform: translate3d(-3%, 0, 0) rotateZ(0deg);
        -moz-transform: translate3d(-3%, 0, 0) rotateZ(0deg);
        transform: translate3d(-3%, 0, 0) rotateZ(0deg);
    }
}
