.boxLogoIceCream {
  margin-top: 10vh;
}

@media (max-width: 768px) {
  .boxLogoIceCream {
    margin-top: 25vh;
  }
}

.boxLogoIceCream .boxLogoIceCream__logoIceCream {
  @include centerBlock;
  width: 100%;
  max-width: 500px;
  padding-bottom: 150px;
}

@media (max-width: 768px) {
  .boxLogoIceCream .boxLogoIceCream__logoIceCream {
    padding-left: 20px;
    padding-right: 20px;
  }
}