.firstblock {
  .box_elementsAbsolute {
    .img01 {
      position: absolute;
      width: 100%;
      max-width: 200px;
      top: 0px;
    }
    @media (max-width: 768px) {
      .img01 {
        max-width: 120px;
      }
    }

    @media (max-width: 560px) {
      .img01 {
        max-width: 110px;
      }
    }

    .img02 {
      position: absolute;
      width: 100%;
      max-width: 220px;
      top: 12%;
      left: calc(50vw - 480px);
    }

    @media (max-width: 991px) {
      .img02 {
        max-width: 200px;
        left: calc(50vw - 380px);
      }
    }

    .img03 {
      position: absolute;
      width: 100%;
      max-width: 270px;
      top: 5%;
      right: calc(50vw - 390px);
    }

    @media (max-width: 991px) {
      .img03 {
        top: 25px;
        right: calc(50vw - 350px);
      }
    }

    @media (max-width: 768px) {
      .img03 {
        top: 0px;
        max-width: 230px;
        right: calc(50vw - 260px);
      }
    }

    @media (max-width: 560px) {
      .img03 {
        top: -10px;
        right: 0;
        max-width: 200px;
      }
    }

    @media (max-width: 500px) {
      .img03 {
        max-width: 40vw;
        top: -10px;
        right: -5px;
      }
    }

    .img04 {
      position: absolute;
      width: 100%;
      max-width: 100px;
      top: 23%;
      left: 0;
    }

    .img05 {
      position: absolute;
      width: 100%;
      max-width: 150px;
      top: 18%;
      right: 5%;
      z-index: 1;
    }

    @media (max-width: 991px) {
      .img05 {
        right: 3px;
      }
    }

    @media (max-width: 768px) {
      .img05 {
        max-width: 90px;
        top: 9%;
        right: 0px
      }
    }

    @media (max-width: 560px) {
      .img05 {
        right: 0;
        top: 120px;
        max-width: 70px;
      }
    }

    @media (max-width: 500px) {
      .img05 {
        width: 20vw;
        top: 130px;
      }
    }

    .img06 {
      position: absolute;
      width: 100%;
      max-width: 350px;
      top: 30%;
      left: 0;
    }

    @media (max-width: 1200px) {
      .img06 {
        max-width: 300px;
      }
    }

    .img07 {
      position: absolute;
      width: 100%;
      max-width: 110px;
      top: 22%;
      right: 0;
    }

    @media (max-width: 768px) {
      .img07 {
        max-width: 70px;
        top: 370px;
      }
    }

    .img08 {
      position: absolute;
      width: 100%;
      max-width: 150px;
      top: 25%;
      right: 0;
    }

    @media (max-width: 768px) {
      .img08 {
        max-width: 80px;
        top: 390px;
      }
    }

    .img09 {
      position: absolute;
      width: 100%;
      max-width: 30vw;
      top: 40%;
      right: 0;
    }

    @media (max-width: 768px) {
      .img09 {
        max-width: 250px;
        top: 510px;
      }
    }

    .img10 {
      position: absolute;
      width: 100%;
      max-width: 20vw;
      top: 45%;
      right: 0;
    }

    .img11 {
      position: absolute;
      width: 100%;
      max-width: 300px;
      bottom: 25%;
      left: calc(40vw - 410px);
      z-index: 1;
    }

    @media (max-width: 768px) {
      .img11 {
        max-width: 50vw;
        bottom: 37%;
        left: -20px;
      }
    }

    @media (max-width: 550px) {
      .img11 {
        bottom: 39%;
      }
    }

    .img12 {
      position: absolute;
      width: 100%;
      max-width: 250px;
      bottom: 35%;
      right: calc(40vw - 320px);
      z-index: 1;
    }

    @media (max-width: 991px) {
      .img12 {
        max-width: 220px;
        right: calc(40vw - 240px);
      }
    }

    @media (max-width: 768px) {
      .img12 {
        bottom: 40%;
        right: 50px;
        max-width: 30vw;
      }
    }

    @media (max-width: 600px) {
      .img12 {
        right: 0px;
      }
    }

    @media (max-width: 400px) {
      .img12 {
        bottom: 37%;
      }
    }

    .img13 {
      position: absolute;
      width: 100%;
      max-width: 120px;
      bottom: 20%;
      right: 0;
    }

    @media (max-width: 768px) {
      .img13 {
        max-width: 70px;
        right: -10px;
        bottom: 630px;
      }
    }

    @media (max-width: 500px) {
      .img13 {
        bottom: 640px;
      }
    }

    @media (max-width: 400px) {
      .img13 {
        bottom: 520px;
      }
    }

    .img14 {
      position: absolute;
      width: 100%;
      max-width: 100px;
      bottom: 7%;
      right: 0;
    }

    @media (max-width: 768px) {
      .img14 {
        max-width: 50px;
        bottom: 560px;
      }
    }

    @media (max-width: 500px) {
      .img14 {
        bottom: 590px;
      }
    }

    @media (max-width: 400px) {
      .img14 {
        bottom: 500px;
      }
    }

    .img15 {
      position: absolute;
      width: 100%;
      max-width: 120px;
      bottom: 25%;
      left: 0;
    }

    .img16 {
      position: absolute;
      width: 100%;
      max-width: 300px;
      bottom: 16%;
      left: 0;
    }

    @media (max-width: 768px) {
      .img16 {
        max-width: 160px;
        bottom: 370px;
      }
    }

    @media (max-width: 450px) {
      .img16 {
        max-width: 90px;
        bottom: 340px;
      }
    }

    .img17 {
      position: absolute;
      width: 100%;
      max-width: 150px;
      bottom: 13%;
      left: 0;
    }

    @media (max-width: 768px) {
      .img17 {
        max-width: 100px;
        bottom: 320px;
      }
    }

    @media (max-width: 450px) {
      .img17 {
        max-width: 50px;
      }
    }

    .img18 {
      position: absolute;
      width: 100%;
      max-width: 200px;
      bottom: 5%;
      left: calc(40vw - 270px);
    }

    @media (max-width: 991px) {
      .img18 {
        max-width: 150px;
        bottom: 10%;
        left: calc(40vw - 330px);
      }
    }

    @media (max-width: 768px) {
      .img18 {
        bottom: 340px;
        left: calc(40vw - 220px);
      }
    }

    @media (max-width: 768px) {
      .img18 {
        max-width: 100px;
        left: 0px;
      }
    }

    @media (max-width: 450px) {
      .img18 {
        bottom: 290px;
      }
    }

    @media (max-width: 380px) {
      .img18 {
        display: none;
      }
    }

    .img19 {
      position: absolute;
      width: 100%;
      max-width: 150px;
      bottom: 6%;
      left: calc(40vw - 420px);
    }

    @media (max-width: 991px) {
      .img19 {
        bottom: 3%;
        left: calc(40vw - 320px);
      }
    }

    @media (max-width: 768px) {
      .img19 {
        bottom: 90px;
        left: 0px;
      }
    }

    @media (max-width: 450px) {
      .img19 {
        bottom: 60px;
      }
    }

    .img20 {
      position: absolute;
      width: 100%;
      max-width: 270px;
      top: 33%;
      left: 8vw;
    }

    @media (max-width: 1200px) {
      .img20 {
        max-width: 250px;
        left: 5vw;
      }
    }

    @media (max-width: 991px) {
      .img20 {
        max-width: 190px;
      }
    }

    /*Mobile*/
    .img01-mobile {
      position: absolute;
      max-width: 100px;
      top: 160px;
    }

    @media (max-width: 560px) {
      .img01-mobile {
        max-width: 18vw;
        top: 150px;
      }
    }

    .img02-mobile {
      position: absolute;
      top: 400px;
      max-width: 200px;
    }

    @media (max-width: 560px) {
      .img02-mobile {
        top: 360px;
        max-width: 130px;
      }
    }

    .img03-mobile {
      position: absolute;
      top: 510px;
      max-width: 130px;
    }

    @media (max-width: 560px) {
      .img03-mobile {
        top: 490px;
        max-width: 110px;
      }
    }

    @media (max-width: 560px) {
      .img03-mobile {
        top: 440px;
        max-width: 90px;
      }
    }

    .img04-mobile {
      position: absolute;
      top: 540px;
      max-width: 120px;
      right: 0;
    }

    .img05-mobile {
      position: absolute;
      bottom: 520px;
      max-width: 60px;
      left: 0;
    }
  }
}
