.boxLogo {
  @include centerBlock;
}

@media (max-width: 768px) {
  .boxLogo {
    top: 10px;
  }
}

.boxLogo .boxLogo__logoSite {
  width: 100%;
  max-width: 150px;
}

@media (max-width: 768px) {
  .boxLogo .boxLogo__logoSite {
    max-width: 110px;
  }
}
