@import './preset';
@import './globals';
@import './fonts';
@import './preload';
@import './scrollbar';
@import './imgFirstBlock';
@import './rrss';
@import './logo';
@import './logoteam';
@import './instructions';
@import './iceCream';
@import './imgSecondBlock';
@import './challenge';
@import './modal';
@import './footer';

.firstblock {
    position: relative;
    background-image: url('../img/bg_arcoiris.jpg');
    background-size: 100% 100%;
}

@media (max-width: 768px) {
    .firstblock {
        background-image: url('../img/bg_arcoiris-mobile.jpg');
        overflow-x: hidden;
    }
}

.secondblock {
    position: relative;
    background-image: url('../img/bg_blue.jpg');
    background-size: 100% 100%;
}
