<img src="./img/title-challenge.png" alt="Título Challenge" class="secondblock__titleChallenge">
<p class="font-cobbler-black secondblock__description color-aquamarine pb-50">¡Muévete al ritmo de <br>
     <span class="color-light-yellow">Be Lengüix y participa!</span>
</p>
<img src="./img/premios.png" alt="Premios Trendy" class="secondblock__premios">
<p class="font-cobbler-black secondblock__description top-150 color-white pb-50">Grábate bailando <br>
     <span class="color-aquamarine">la canción de nuestro comercial.</span>
</p>
<p class="font-cobbler-black secondblock__description top-150 color-aquamarine">Menciónanos como <br>
     <span class="color-light-yellow">@Trendyhelados</span> y compártelo <br>
     <span class="color-white">en TikTok o instagram.</span>
</p>
<div class="box_share">
     <img src="./img/img-tiktok-insta.png" alt="Compartir en Tik Tok e Instagram" class="box_share__imgShare top-150 visible-desktop">
     <img src="./img/img-tiktok-insta-mobile.png" alt="Compartir en Tik Tok e Instragram" class="box_share__imgShare top-150 visible-mobile">
</div>