<footer class="footer">
    <div class="row">
        <div class="cont-50">
            <div class="flex flex-start">
                <img class="img-fluid spotify" src="./img/footer_spotify.png" alt="" />
            </div>
        </div>
        <div class="cont-50">
            <div class="flex flex-end">
                <div class="clearfix">
                    <a href="static/BeLenguixSong.wav" target="_blank" class="linksong">
                        <span class="font-cobbler-bold">Descarga la canción aquí</span>
                        <img class="img-fluid download" src="./img/icondownload.png" alt="" />
                    </a>
                    <a href="javascript:void(0);">
                        <img class="img-fluid download2" src="./img/footer_download2.png" alt="" />
                    </a>
                </div>
                <img class="img-fluid footer_logo" src="./img/logo-site.png" alt="" />
            </div>
        </div>
    </div>
</footer>