<footer class="footer">
    <div class="row">
        <div class="cont-50">
            <div class="flex flex-start">
                <img class="img-fluid spotify" src="./img/footer_spotify.png" alt="" />
            </div>
        </div>
        <div class="cont-50">
            <div class="flex flex-end">
                <img class="img-fluid download" src="./img/footer_download.png" alt="" />
                <img class="img-fluid footer_logo" src="./img/logo-site.png" alt="" />
            </div>
        </div>
    </div>
</footer>