<div class="boxLogoIceCream">
    <img src="./img/logo-icecream-desktop.png" alt="Logo Lenguix dos helados"
        class="boxLogoIceCream__logoIceCream visible-desktop">
    <img src="./img/logo-icecream-mobile.png" alt="Logo Lenguix dos helados"
        class="boxLogoIceCream__logoIceCream visible-mobile">
</div>