<div class="box_elementsAbsolute">
     {{!-- Desktop --}}
     <img src="./img/img01.png" class="img01">
     <img src="./img/img02.png" class="img02 visible-desktop">
     <img src="./img/img03.png" class="img03">
     <img src="./img/img04.png" class="img04 visible-desktop">
     <img src="./img/img05.png" class="img05">
     <img src="./img/img06.png" class="img06 visible-desktop">
     <img src="./img/img07.png" class="img07">
     <img src="./img/img08.png" class="img08">
     <img src="./img/img09.png" class="img09">
     <img src="./img/img10.png" class="img10 visible-desktop">
     <img src="./img/img11.png" class="img11">
     <img src="./img/img12.png" class="img12">
     <img src="./img/img13.png" class="img13">
     <img src="./img/img14.png" class="img14">
     <img src="./img/img15.png" class="img15 visible-desktop">
     <img src="./img/img16.png" class="img16">
     <img src="./img/img17.png" class="img17">
     <img src="./img/img18.png" class="img18">
     <img src="./img/img19.png" class="img19">
     <img src="./img/img20.png" class="img20 visible-desktop">
     {{!-- Mobile --}}
     <img src="./img/img01-mobile.png" class="img01-mobile visible-mobile">
     <img src="./img/img02-mobile.png" class="img02-mobile visible-mobile">
     <img src="./img/img03-mobile.png" class="img03-mobile visible-mobile">
     <img src="./img/img04-mobile.png" class="img04-mobile visible-mobile">
     <img src="./img/img05-mobile.png" class="img05-mobile visible-mobile">
</div>