<div class="box_elementsAbsolute">
     {{!-- Desktop --}}
     <img src="./img/img16.png" class="img16">
     <img src="./img/img17.png" class="img17">
     <img src="./img/img21.png" class="img21">
     <img src="./img/img22.png" class="img22">
     <img src="./img/img23.png" class="img23 animate">
     <img src="./img/img24.png" class="img24">
     <img src="./img/img25.png" class="img25">
     <img src="./img/img26.png" class="img26">
     <img src="./img/img27.png" class="img27">
     <img src="./img/img28.png" class="img28">

     {{!-- Mobile --}}
     <img src="./img/img06-mobile.png" class="img06-mobile visible-mobile">
</div>