<div class="boxInstructions">
    <p class="boxInstructions__description font-cobbler-bold">Bienvenidos a #BeLenguix el sabor que tú eres, haz click
        acá y baila con nosotros el hit del verano.</p>
    <a class="boxInstructions__btnPlay font-cobbler-black" id="btnModal" href="javascript:void(0);" data-id="mHQ0ZGeiKE0">Dale Play</a>
</div>