<div class="boxLogoTeams">
     <img src="./img/logo-team-desktop.png" alt="Logo Team version Desktop" class="boxLogoTeams__logoTeam visible-desktop">
     <img src="./img/logo-team-mobile.png" alt="Logo Team version Mobile" class="boxLogoTeams__logoTeam visible-mobile">
</div>