<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
</head>

<body>
    {{>templates/preload}}
    <section class="firstblock">
        {{>templates/imgFirstBlock}}
        {{>templates/rrss}}
        {{>templates/logo}}
        {{>templates/team}}
        {{>templates/instructions}}
        {{>templates/icecreamLenguix}}
    </section>

    {{>templates/modal}}
    {{>templates/footer}}
</body>

</html>